<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
	.login-page {
	    background-image: url('{% static 'imagens/mani3.jpeg'%}');
	    background-repeat: no-repeat;
	    background-size:100%;
	    bottom: 0;
	    color: black;
	    left: 0;
	    overflow: auto;
	    padding: 3em;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    top: 0;
	    background-size: cover;
	}
</style>
<body>
<div class=login-page>
</div>
<div class="container">
	<div class="row" style = "margin-top: 12%">
    	<div class="card border-dark rounded w-25 mx-auto mt-5">
    		<div class = "bg-warning">
    			<h1 class="blockquote text-center mt-3">Login de acesso</h1>
    		</div>
    		<div>
    			<img src="{% static 'imagens/icone.jpeg' %}" class="w-50 rounded mx-auto d-block">
    		</div>
    		<form method="POST">
    			<div class="form-group mt-3 ml-2 mr-2">
		    	{% csrf_token %}
				<input type="text" name="username" placeholder="Nome de usuário" class="form-control">
				<input type="password" name="password" placeholder="Senha" class="form-control mt-2">
		    </div>

    	<!--
    		<div class="form-group mt-3 ml-2 mr-2">
		    	<input type="text" class="form-control" id="usuario" placeholder="Nome de usuário" name="usuario">
		    </div>
		    <div class="form-group ml-2 mr-2">
		    	<input type="password" class="form-control" id="senha" placeholder="Senha" name="senha">
		    </div>
		-->
			<div class = "col-sm-11 offset-sm-1">
		    	<p class="mx-auto"><small>Não tem um conta?<a href="{% url 'signup' %}"> cadastre-se aqui</a></small>	</p>
			</div>
			<div class = "col-sm-12">
		    	<button type="submit" class="btn btn-info mt-1 btn-sm mr-2 mb-2 w-100">Entrar</button>
			</div>

    		</form>
    		
    	</div>
	</div>
</div>

</body>
</html>